<!DOCTYPE html>
<html lang="en">
<head>
    <title >Lista de Usuarios</title> 
    <link rel="stylesheet" type="text/css" href="../Cs/mostrar_ususarios.css">
</head>
<body>

    <div id="userList">
        <div class="tittle">Lista de Usuarios</div>
    </div>
    <div class="container__volver">
        <button type="button" class="volver"> <a href="../Templates/admin.html" >Volver</a></button>
    </div>
    
    <script type="module" src="/Controllers/mostrar_usuarios.js"></script>

</body>
</html>